
/*make it slide one image to the left*/

@keyframes slider {
  from {
    transform: translate(0,0);
  } to {
    transform: translate(3em,0);
  }
}

/*@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}*/
:host([slider]) img {
  animation: 1s linear;
}

paper-card {
  width: 100%;
}

.central_panel {
  padding: 10px;
  text-align: center;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /*animation: 2s linear infinite spin;*/
}

#myimage {
  position: relative;
  height: 100%;
  left: 50%;
  top: 50%;
  /*transform-origin: 50% 50%;*/
  transform: translate(-50%,-50%);
  /*width: auto;*/
}